    <%- include ./partial/header.ejs %>
    <h4><%= campaign.title %></h4>
    <div class="">
      <p>Title: <%-campaign.title%></p>
      <p>Goal: Rp <%-campaign.goal%></p>
      <p>Starter: <a href="/users/<%=campaign.starter_id%>"><%-campaign.User.username%></a></p>
      <p>Current fund: <%-sumAmount(campaign.Donations)%></p>
      <p><%-campaign.desc%></p>
      <%if(session){%>
          <a href="/donation/<%-campaign.id%>">Donate</a>
        <%if(session.username==campaign.User.username){%>
          <a href="/campaign/edit/<%=campaign.id%>">Edit</a>
          <%if(sumAmount(campaign.Donations)>=campaign.goal){%>
          <a href="/close/<%=campaign.id%>" onclick="return confirm('Are you sure?')">Close campaign</a>
          <%}%>
        <%}%>
      <%}%>
    </div>
  </body>
  <%- include ./partial/footer.ejs %>
</html>
