<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include ./partial/header.ejs %>
    <h1>Edit campaign page for <%= campaign.title %></h1>
  </body>
    <div class="">
      <form class="" action="/campaign/edit/<%=campaign.id%>" method="post">
        <label for="">Goal :</label>
        <input type="text" name="goal" value="<%=campaign.goal%>"><br>
        <label for="">Desc :</label>
        <input type="text" name="desc" value="<%=campaign.desc%>"><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  <%- include ./partial/footer.ejs %>
</html>
