    <%- include ./partial/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <%campaigns.forEach(campaign=>{%>
    <div class="section">
      <p>Title: <a href="/campaign/<%-campaign.id%>"><%-campaign.title%></a></p>
      <p>Goal: Rp <%-campaign.goal%></p>
      <p>Starter: <a href="/users/<%=campaign.starter_id%>"><%-campaign.User.username%></a></p>
      <p>Current fund: <%-sumAmount(campaign.Donations)%></p>
      <%if(session && session.username==campaign.User.username){%>
        <a href="/campaign/edit/<%=campaign.id%>">Edit</a>
        <%if(sumAmount(campaign.Donations)>=campaign.goal){%>
        <a href="/close/<%=campaign.id%>" onclick="return confirm('Are you sure?')">Close campaign</a>
        <%}%>
      <%}%>
    </div>
  <%})%>
  </body>
  <%- include ./partial/footer.ejs %>
</html>
