<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include ./partial/header.ejs %>
    <h1>Profile page for <%= campaigns[0].User.username %></h1>
  </body>
  <%campaigns.forEach(campaign=>{%>
    <div class="">
      <a href="/campaign/<%-campaign.id%>">Title: <%-campaign.title%></a><br>
      <p>Goal: Rp <%-campaign.goal%></p>
      <p>Current fund: <%-sumAmount(campaign.Donations)%></p>
      <p><%-campaign.desc%></p>
      <%if(session && session.username==campaign.User.username){%>
        <a href="/campaign/edit/<%=campaign.id%>">Edit</a>
      <%}%>
    </div>
  <%})%>
  <%- include ./partial/footer.ejs %>
</html>
